<link href="css/style.css" rel="stylesheet">

<script src="js/preview.js"></script>

<form>
    <select id="area">
        <option value='Area 1'>Area 1</option>
        <option value='Area 2'>Area 2</option>
        <option value='Area 3'>Area 3</option>
        <option value='Area 4'>Area 4</option>
    </select>

    <input type='button' id='inputArea' onclick="createExp('area','inputArea')" value='Input Area'>

    <select id="list">
        <option value='List 1'>List 1</option>
        <option value='List 2'>List 2</option>
        <option value='List 3'>List 3</option>
        <option value='List 4'>List 4</option>
    </select>

    <input type='button' id='inputList' onclick='createExp("list", "inputList")' value='Input List'>

    <select id="item">
        <option value='Item 1'>Item 1</option>
        <option value='Item 2'>Item 2</option>
        <option value='Item 3'>Item 3</option>
        <option value='Item 4'>Item 4</option>
    </select>

    <input type='button' id='inputItem' onclick='createExp("item", "inputItem")' value='Input Item'>

    <select id="thing">
        <option value='Thing 1'>Thing 1</option>
        <option value='Thing 2'>Thing 2</option>
        <option value='Thing 3'>Thing 3</option>
        <option value='Thing 4'>Thing 4</option>
    </select>

    <input type='button' id='inputThing' onclick='createExp("thing", "inputThing")' value='Input Thing'>
    
    <div id='preview'>
    </div>
</form>